

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(231, 233, 236);
    color: black;
    width: 100%;
    text-align: center;
    padding-bottom: 0.01em;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.title h1 {
    margin-left: 1em;
    font-size: 1.8em;
    padding:10px;
    color: #d8b116;
}

nav {
    margin-top: 0.1em;
    background-color:transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 1px 15px;
}

nav ul li a {
    color: black;
    text-decoration: none; 
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    position: relative; 
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a9d8f;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%; 
}

nav ul li a:hover {
    color: #2a9d8f; 
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    font-size: small;
    text-align: center;
    align-content: center;
}
section {
    margin: 2em auto;
    padding: 2em;
    max-width: 800px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px rgb(119, 255, 0);
    border-style: inset;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.75em;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0a670f;
}

#contact {
    text-align: center;
    padding: 2em;
    margin-top: 4em;
    background: #f9f9f9;
    border-radius: 10px;
}

#contact p {
    font-size: 1.1em;
    color: #666;
}